.card {
    background-color: white;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-form input {
    border-radius: 10px;
    font-size: 14px;
    border-color: #333333;
    padding: 5px 15px;
    border-color: #333333;
}

.card-form select {
    border-radius: 10px;
    font-size: 14px;
    border-color: #333333;
    padding: 5px 15px;
    border-color: #333333;
}

.card-form label {
    font-size: 14px;
    color: #333333;
}

.card-form button {
    background-color: #333333;
    border-radius: 10px;
    color: #AED6F1;
    padding: 5px 20px;
}