<main class="main-container">
<div>
    <div class="header-container">
        <h2 routerLink="/">The Bulletin Board</h2>
        <nav class="nav-container">
            <a *ngIf="isLoggedIn" routerLink="/">List</a>
            <a *ngIf="isLoggedIn" routerLink="/add">Add</a>
            <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
            <a *ngIf="!isLoggedIn" routerLink="/signup">Signup</a>
            <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </nav>
    </div>
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>
</main>